<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389806956797-im2vq8qptq8n303ji5id2flh5gjkfq92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389806956797-im2vq8qptq8n303ji5id2flh5gjkfq92</string>
	<key>API_KEY</key>
	<string>AIzaSyDodRv6Z0R-5q27_IUp_-Fai4S3XRVDKJw</string>
	<key>GCM_SENDER_ID</key>
	<string>389806956797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.justnative</string>
	<key>PROJECT_ID</key>
	<string>just-pwa</string>
	<key>STORAGE_BUCKET</key>
	<string>just-pwa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389806956797:ios:52ab69bfaeaf24ec51de94</string>
	<key>DATABASE_URL</key>
	<string>https://just-pwa.firebaseio.com</string>
</dict>
</plist>